partd
toolz
fsspec
packaging
distributed
sparse
cloudpickle
click
PyYAML
tblib
Jinja2
pyarrow
psutil
bokeh
importlib_metadata
tornado
darkdetect
pillow
numpy
opencv-python-headless
pydicom
SimpleITK
scikit-image
scikit-learn
scipy
pandas
dask[complete]
dask-ml
xgboost
joblib
PyQt6
PyQt6-Fluent-Widgets
tqdm
matplotlib>=3.3
pyinstaller